.portfolio-section-photos{
    background-color: white;
    }
    .portfolio-section-photos h2{
      margin-bottom: 80px;
      color: #242424;
    }
    .grid-paysages{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 15px;
    }
    
    .grid-portraits{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px;
      grid-gap: 15px;
    }
    .grid-paysages img , 
    .grid-portraits img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .lien-conteneur-photo{
      position: relative;
      }
    .photo-hover{
      position: absolute;
      top: 0%;
      bottom: 0%;
      right: 0%;
      left: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.5em;
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
    }
    .lien-conteneur-photo:hover .photo-hover{
      display: flex;
    }
    h2{
      margin-top: 80px;
    }
    @media screen and (max-width: 996px) { 
      .grid-paysages{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .grid-portraits{
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }